.symbol-detail {
  padding: 10px;


  &-price-up {
    color: #38b30a;
  }

  &-price-down {
    color: #d50d0d;
  }

  &-header {
    display: flex;
    height: 170px;
    align-items: center;

    &-left {
      width: 300px;
      height: 170px;
      position: relative;

      &-big-item {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        height: 50px;
        font-size: 60px;
      }

      &-bottom {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: 15px;
        font-size: 27px;

        &-first {
          margin-right: 15px;
        }
      }
    }

    &-right {
      width: 70%;
      display: flex;
      align-items: center;
      font-size: 20px;

      &-item-container {
        width: 200px;
      }

      &-text-item {
        font-size: 20px;
      }

      &-number-item {
        font-size: 30px;
        margin-left: 5px;
        text-align: right;
      }

      &-first {
        display: flex;
        flex-direction: column;
      }

      &-second {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-chart-container {

  }
}
